body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Familia de fuentes */
    color: #333; /* Color de texto gris oscuro */
    line-height: 1.6; /* Altura de línea para legibilidad */
}


h1 {
    font-size: 3rem; /* Tamaño grande */
    text-align: center; /* Centrado */
    text-transform: uppercase; /* Todo mayúsculas */
    letter-spacing: 5px; /* Espacio entre letras */
    color: #0056b3;

}

p {
    color: #555;
    font-size: 18px;
    font-weight: bold;
}